.animated {
    -webkit-animation-duration: 10s;animation-duration: 10s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }