// Examples
.icon-error {
    @include icon-color('error', 'actions', ff00000, 1, true);
    // --icon-menu: url('/svg/core/actions/menu/ffffff?v=1');
    // background-image: var(--icon-menu)
    float: right;
    position: absolute;
    margin-top: 10px;
    z-index: 2;
}

.tooltip {
    visibility: hidden;
    float: right;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 2;
}

.ssid:hover .tooltip {
    visibility: visible;
}

table {
    width: 100%;
}

#changes {
    margin-top: 10px;
    margin-bottom: 10px;
}

.enforce {
    color: var(--color-primary);
}

#save_changes {
    float: right;
}

#total_changes {
    display: inline-block;
}

button {
    margin-left: 30px;
}

.center {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.error {
    border: 1px solid red;
}


th {
    font-weight: bold;
    font-size: 110%;
    color: #0082c9;
}

td {
    font-size: 100%;
}

th,
td {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(172, 225, 255);
}

td.icon-checkmark {
    border-bottom: 0px;
}


.tab {
    overflow: hidden;
    border-bottom: 1px solid #0082c9;
}


.tab button {
    color: var(--color-text-light);
    font-size: 16px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    text-decoration: underline;
}


.tab button.active {
    font-size: 18px;
    text-decoration: underline;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#secsign_settings input{
    margin-left: 8px;
}

.port {
    width: 60px;
}

.server {
    width: 200px;
}