table {
    width: 100%;
}

#changes {
    margin-top: 10px;
    margin-bottom: 10px;
}

#save_changes{
    float: right;
}

#total_changes{
    display: inline-block;
}

button {
    margin-left: 30px;
}

.center {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.error {
    border: 1px solid red;
}


th {
    font-weight: bold;
    font-size: 110%;
    color: #0082c9;
}

td {
    font-size: 100%;
}

th,
td {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(172, 225, 255);
}

td.icon-checkmark {
    border-bottom: 0px;
}