/**
 * @author SecSign Technologies Inc.
 * @copyright 2019 SecSign Technologies Inc.
 */
.icon-error {
    @include icon-color('error', 'actions', ff00000, 1, true);
    // --icon-menu: url('/svg/core/actions/menu/ffffff?v=1');
    // background-image: var(--icon-menu)
    float: right;
    position: absolute;
    margin-top: 10px;
    z-index: 2;
}

.icon_ascending {
    @include icon-color('triangle-s', 'actions', "0082C9", 1, true);
    // --icon-menu: url('/svg/core/actions/menu/ffffff?v=1');
    // background-image: var(--icon-menu)
}

.icon_descending {
    @include icon-color('triangle-n', 'actions', "0082C9", 1, true);
    // --icon-menu: url('/svg/core/actions/menu/ffffff?v=1');
    // background-image: var(--icon-menu)

}

.sort_indicator {
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
    vertical-align: middle;
}


td>input {
    width: 180px;
}

.tooltip {
    visibility: hidden;
    float: right;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 2;
}

.ssid:hover .tooltip {
    visibility: visible;
}

table {
    width: 100%;
}

#changes {
    margin-top: 10px;
    margin-bottom: 10px;
}

.enforce {
    color: var(--color-primary);
}

#save_changes {
    float: right;
    display: block;
}

#total_changes {
    float: right, top;
    display: block;
}

#sec_search_input {
    width: 300px;
}

button {
    margin-left: 30px;
}

.center {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.error {
    border: 1px solid red;
}


th {
    font-weight: bold;
    font-size: 110%;
    color: var(--color-primary);
}

td {
    font-size: 100%;
}

th,
td {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(172, 225, 255);
}

td.icon-checkmark {
    border-bottom: 0px;
}


.tab {
    overflow: hidden;
    border-bottom: 1px solid #0082c9;
}


.tab button {
    color: var(--color-text-light);
    font-size: 16px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    text-decoration: underline;
}


.tab button.active {
    font-size: 18px;
    text-decoration: underline;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#onboarding_suffix {
    border: 0px;
}

.text_field_border {
    padding: 8px;
    border: 1px solid var(--color-border-dark);
}

th[id^='sec-th'] {
    cursor: pointer;
}

#secsign_settings input {
    margin-left: 8px;
}

.port {
    width: 80px;
}

.server {
    width: 200px;
}

@media only screen and (max-width: 770px) {
    .sec_content_header {
        margin-left: 30px;
    }
}

.sec_content_header {
    padding-top: 2px;
}

.nav-ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: var(--color-primary);
    background: #e5e5ff;
    border-bottom: 2px solid var(--color-border-dark);
}

.nav-ul a {
    padding: 14px 16px;
    transition: 0.3s;
    float: left;
    font-weight: bold;
}

a {
    transition: var(--animation-quick);
}

.nav-ul a {
    color: var(--color-primary);
}

.nav-ul a:hover {
    background: var(--color-border-dark);
}

.nav-ul a:hover:active {
    background: var(--color-primary);
    color: var(--color-primary-text);
}

.selected span {
    color: var(--color-text-light);
    font-size: 110%;
}


.secsign-content {
    border: 2px solid var(--color-border-dark);
    max-width: 800px;
}

.secUi-main__barload {
    display: block;
    position: relative;
    margin: 30px auto 10px auto;
    width: 64px;
    height: 60px;
}

.secUi-main__barload div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: var(--color-primary);
    animation: secUi-main__barload 1.5s infinite;
    border-radius: 3px;
}

.secUi-main__barload div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.secUi-main__barload div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.secUi-main__barload div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes secUi-main__barload {
    0% {
        top: 0px;
        height: 60px;
    }

    50% {
        top: 10px;
        height: 40px;
    }

    100% {
        top: 0px;
        height: 60px;
    }
}

.secUi-custbgcolor {
    background-color: var(--color-primary);
}